<!DOCTYPE html>
<html>
  <head>

    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

    <!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

 <!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <title>Gamely</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    </script>
  </head>
  <body>

<!-- nav and side nav -->

  <nav>
      <div class="nav-wrapper">
        <img src="/images/logos/gamely/logo.png" alt="" width="65px">
        <ul class="right hide-on-med-and-down" >
          <li><a href=""><i class="material-icons">search</i></a></li>
          <li><a href=""><i class="material-icons">view_module</i></a></li>
          <li class="button-collapse" data-activates="slide-out"><a href="#"><i class="material-icons test">more_vert</i></a></li>
        </ul>
      </div>
    </nav>

<ul id="slide-out" class="side-nav">
    <li><div class="user-view">
      <div class="background">
        <img src="images/pics/.jpg">
      </div>
      <a href="#!user"><img id="circle" src="/images/pics/.jpg"></a>
      <a href="#!name"><span id="white-text name">John Doe</span></a>
      <a href="#!email"><span id="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    <li><a class="waves-effect" href="#!">Games</a></li>
  </ul>






<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text" id="footerText">About Us  Writers  Jobs  Directory  Business  Gamely Labs  Press  Terms</h5>
                <p class="grey-text text-lighten-4"></p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text"></h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!"></a></li>
                  <li><a class="grey-text text-lighten-3" href="#!"></a></li>
                  <li><a class="grey-text text-lighten-3" href="#!"></a></li>
                  <li><a class="grey-text text-lighten-3" href="#!"></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            <!-- © 2014 Copyright Text -->
            <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
          </div>
        </footer>






  </body>

</html>

<!--<li><a href="sass.html">Library</a></li>
    <li><a href="badges.html">Write</a></li>
    https://s3.amazonaws.com/intellect-wp-prod/wp-content/uploads/sites/6/2017/03/17160602/profle-management.svg
    <li class="tab"><a class="active" href="#test2">Trending</a></li>
    <li class="tab disabled"><a href="#test3">Books</a></li>
    <li><img id="libraryPicture" href="/library" width="60" class="img-circle" src="\images\library.png"></li>
    <li><img id="writePicture" href="/write" width="60" class="img-circle" src="\images\pencil.png"></li>-->
