<!DOCTYPE html>
<html>
  <head>

    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

    <!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

 <!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

 <script type="text/javascript" src="/javascripts/materialize.js"></script>

    <title>Gamely</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    </script>
  </head>
  <body>

  <nav>
      <div class="nav-wrapper">
        <img src="/images/logos/gamely/logo.png" alt="" width="65px">
        <ul class="right hide-on-med-and-down" >
          <li><a href=""><i class="material-icons">search</i></a></li>
          <li><a href=""><i class="material-icons">view_module</i></a></li>
          <li class="button-collapse" data-activates="slide-out"><a href="#"><i class="material-icons test">more_vert</i></a></li>
        </ul>
      </div>
    </nav>

<ul id="slide-out" class="side-nav">
    <li><div class="user-view">
      <div class="background">
        <img id="navImage" src="images/pics/wallpaper.jpg">
      </div>
      <a href="#!user"><img class="circle" src="/images/pics/blue.jpg"></a>
      <a href="#!name"><span class="white-text name">Somebody</span></a>
      <a href="#!email"><span class="white-text email">Somebody123@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">perm_identity</i>Profile</a></li>
    <li><a href="#!">My Collection</a></li>
    <li><a href="#!">My Games</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Categories</a></li>
    <li><a class="waves-effect" href="#!">Kids</a></li>
    <li><a class="waves-effect" href="#!">Indie</a></li>
    <li><a class="waves-effect" href="#!">Sandbox</a></li>
    <li><a class="waves-effect" href="#!">Action</a></li>
    <li><a class="waves-effect" href="#!">Minigames</a></li>
    <li><a class="waves-effect" href="#!">Comedy</a></li>
    <li><a class="waves-effect" href="#!">Medieval</a></li>
    <li><a class="waves-effect" href="#!">Horror</a></li>
    <li><a class="waves-effect" href="#!">Dancing/Singing</a></li>
    <li><a class="waves-effect" href="#!">Art</a></li>
    <li><a class="waves-effect" href="#!">Other</a></li>
  </ul>

  <div class="parallax-container">
     <div class="parallax"><img src="images/pics/Videogame1.jpg"></div>
   </div>
   <div class="section white">
     <div class="row container">
       <h2 class="header AU">The Problem</h2>
       <h5 class="grey-text text-darken-3 lighten-3 AU">
        There are many online communities for writers, travelers, movie fanatics, critics and artists. So? There aren't any for gamers and game developers to play and create.
        That's why we're here with Gamely, a online gaming community, for everone who likes to play.
       </h5>
     </div>
   </div>
   <div class="parallax-container">
     <div class="parallax"><img src="images/pics/videojuego4.jpg"></div>
   </div>
   <div class="section white">
     <div class="row container">
       <h2 class="header AU">About Us</h2>
       <h5 class="grey-text text-darken-3 lighten-3 AU">
         We are a team of gamers and developers who united to make Gamely.
         We wanted to create a community that both gamers and game developers could enjoy.
       </h5>
     </div>
   </div>
   <div class="parallax-container">
     <div class="parallax"><img src="images/pics/videojuego3.jpg"></div>
   </div>
   <div class="section white">
<div class="center-align">
  <div class="section white">
    <iframe src="http://www.powtoon.com/embed/dz8OL0yglTZ/" frameborder="0" height="491" width="800"></iframe>
  </div>
  <a id="promo" class="waves-effect waves-light btn-large" href="/home"><i class="material-icons left">input</i>Home</a>
</div>

<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12" id="footerText">
           <!-- <h5 class="white-text" id="footerText">About Us</h5>
                <h5 class="white-text" id="footerText">Developers</h5>
                <h5 class="white-text" id="footerText">Jobs</h5>
                <h5 class="white-text" id="footerText">Directory</h5>
                <h5 class="white-text" id="footerText">Business</h5>
                <h5 class="white-text" id="footerText">Gamely Labs</h5>
                <h5 class="white-text" id="footerText">Press</h5>
                <h5 class="white-text" id="footerText">Terms</h5> -->
                <p class="grey-text text-lighten-4"></p>
              </div>
              <div class="col l4 s6" id="footerText">
                <h5 class="white-text"></h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Developers</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Jobs</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Directory</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Business</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Gamely Labs</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Press</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Terms</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            <!-- © 2014 Copyright Text -->
            <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
          </div>
        </footer>

  </body>

</html>
